.logo {
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  float: left;
}

// .header {
//   background-color: #d01e00;
// }

// .header-font {
//   color: #fedb0e;
//   text-shadow: 4px 4px 0px #000000, 4px 4px 0px #000000;
// }